<div id="sidebar-left" class="col-xs-2 col-sm-2">
  <ul class="nav main-menu">
    <li>
      <a href="ajax/dashboard.html" class="active ajax-link">
        <i class="fa fa-dashboard"></i>
        <span class="hidden-xs">Dashboard</span>
      </a>
    </li>
    <li class="dropdown">
      <%= link_to test_get_path do %>
        <i class="fa fa-film"></i>
        <span class="hidden-xs">Clips4Sale</span>
      <% end %>
    </li>
    <li class="dropdown">
      <%= link_to users_path do %>
        <i class="fa fa-bar-chart-o"></i>
        <span class="hidden-xs">Users</span>
      <% end %>
    </li>
  </ul>
</div>