<div id="ow-summary" class="row">
  <div class="col-xs-12">
    <h4 class="page-header">CLIPS4SALE SUMMARY</h4>
    <div class="row">
      <div class="col-xs-12">
        <% @crawl_full.each do |name, value| %>
          <div class="row"><div class="col-xs-6"><%= name %><b><%= value %></b></div></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="ow-summary" class="row">
  <div class="col-xs-12">
    <h4 class="page-header">CLIPS4SALE SUMMARY</h4>
    <div class="row">
      <div class="col-xs-12">
        <% @c.each do |name, value| %>
          <div class="row"><div class="col-xs-6"><%= name %><b><%= value %></b></div></div>
        <% end %>
      </div>
    </div>
  </div>
</div>